

/* Header Style */
header {
    background: linear-gradient(to right, #279fc3, #3e56fd);
}

header h1 {
    margin: 0;
    font-size: 1.6em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-top{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #fff;
    padding-bottom: 50px;
}

.header-top a{
    color: inherit;
}
nav{
    display: flex;
    justify-content: center;
}

nav > a {
    padding: 0 20px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
nav > a:hover{
    color: #fff;
    text-decoration: none;
}
